In [1]:
import pandas as pd
import numpy as np

In [2]:
tmp = pd.read_csv('./data/p301/p301_snow_depth.csv', names=['date','SD_lower','SD_Lflag','SD_upper','SD_Uflag'],header=False)
tmp.index = pd.DatetimeIndex(tmp.date)
del tmp['date']

In [3]:
tmp.head()

            SD_lower SD_Lflag  SD_upper SD_Uflag
2007-10-01         0        A         0        A
2007-10-02         0        A         0        A
2007-10-03         0        A         0        A
2007-10-04         0        A         0        A
2007-10-05         0        A         0        A

In [4]:
# function that converts SD to SWE for SS CZO from Safeeq
def sd2swe(sd):
    return 0.2993*sd+1.1697

In [5]:
tmp['SWE_lower'] = sd2swe(tmp.SD_lower)

In [6]:
tmp['SWE_upper'] = sd2swe(tmp.SD_upper)

In [7]:
tmp.loc[tmp.SD_lower==0,'SWE_lower'] = 0.
tmp.loc[tmp.SD_upper==0,'SWE_upper'] = 0.

In [8]:
tmp.head()

            SD_lower SD_Lflag  SD_upper SD_Uflag  SWE_lower  SWE_upper
2007-10-01         0        A         0        A          0          0
2007-10-02         0        A         0        A          0          0
2007-10-03         0        A         0        A          0          0
2007-10-04         0        A         0        A          0          0
2007-10-05         0        A         0        A          0          0

In [11]:
tmp.to_pickle('./data/p301/p301_SWE.pcl')