In [1]:
 fl = './data/p301/from_safeeq/P301_data__Theo.xlsx'

In [2]:
# Read in discharge in [L/s]
Q = pd.read_excel(fl,sheetname='discharge')
Q.columns = ['datetime','Q','Q_flag']

In [3]:
# Read in air temperature [C]
temp = pd.read_excel(fl,sheetname='Temperature')
temp.columns = ['datetime','Tmax_upper','Tmax_upper_flag','Tmax_lower','Tmax_lower_flag','Tmin_upper',
                'Tmin_upper_flag','Tmin_lower','Tmin_lower_flag']

In [4]:
# Read in precipitation [mm/day]
P = pd.read_excel(fl,sheetname='Precip')
P.columns = ['datetime','P_lower','P_upper']

In [5]:
# read in snow depth # cm
SD = pd.read_excel(fl,sheetname='snow_depth')
SD.columns = ['datetime','SD_lower','SD_lower_flag','SD_upper','SD_upper_flag']

In [6]:
SD.head()

    datetime  SD_lower SD_lower_flag  SD_upper SD_upper_flag
0 2007-10-01       0.0             A       0.0             A
1 2007-10-02       0.0             A       0.0             A
2 2007-10-03       0.0             A       0.0             A
3 2007-10-04       0.0             A       0.0             A
4 2007-10-05       0.0             A       0.0             A

In [7]:
fl = './data/p301/from_safeeq/UP_snowpillow_swe.xlsx'

In [10]:
SWE = pd.read_excel(fl) # SWE in [mm]
SWE.columns = ['datetime','SWE']

In [16]:
df = pd.merge(Q, temp, on = 'datetime')

In [17]:
df = pd.merge(df, P, on = 'datetime')

In [18]:
df = pd.merge(df, SD, on = 'datetime')

In [19]:
df = pd.merge(df, SWE, on = 'datetime')

In [21]:
df.head()

,datetime,Q,Q_flag,Tmax_upper,Tmax_upper_flag,Tmax_lower,Tmax_lower_flag,Tmin_upper,Tmin_upper_flag,Tmin_lower,Tmin_lower_flag,P_lower,P_upper,SD_lower,SD_lower_flag,SD_upper,SD_upper_flag,SWE
0,2010-10-01,1.517748,A,22.630,A,23.20,A,11.990,A,11.940,A,0.00,2.86,0.0,A,0.0,A,0.0
1,2010-10-02,1.694949,A,20.880,A,23.00,A,10.650,A,10.480,A,3.15,4.71,0.0,A,0.0,A,0.0
2,2010-10-03,5.865811,A,15.670,A,16.27,A,8.520,A,10.140,A,33.32,26.34,0.0,A,0.0,A,0.0
3,2010-10-04,19.511043,A,9.390,A,10.88,A,2.366,A,4.608,A,63.87,70.80,0.0,A,0.0,A,0.0
4,2010-10-05,6.766141,A,6.321,A,7.74,A,1.897,A,2.339,A,16.52,7.58,0.0,A,0.0,A,0.0

In [22]:
df.tail()

,datetime,Q,Q_flag,Tmax_upper,Tmax_upper_flag,Tmax_lower,Tmax_lower_flag,Tmin_upper,Tmin_upper_flag,Tmin_lower,Tmin_lower_flag,P_lower,P_upper,SD_lower,SD_lower_flag,SD_upper,SD_upper_flag,SWE
1821,2015-09-26,0.0,A,24.70,A,26.025948,A,16.29,A,12.961261,A,0.0,0.0,0.0,A,0.0,A,0.0
1822,2015-09-27,0.0,A,21.96,A,23.264091,A,14.15,A,11.144454,A,0.0,0.0,0.0,A,0.0,A,0.0
1823,2015-09-28,0.0,A,23.24,A,23.670000,A,13.68,A,13.600000,A,0.0,0.0,0.0,A,0.0,A,0.0
1824,2015-09-29,0.0,A,21.22,A,22.518189,A,13.68,A,10.745435,A,0.0,0.0,0.0,A,0.0,A,0.0
1825,2015-09-30,0.0,A,20.36,A,20.130000,A,11.87,A,11.940000,A,0.0,0.0,0.0,A,0.0,A,0.0

In [23]:
df.to_pickle('./data/p301/new_providence.pcl')